<!DOCTYPE html>

<!-- *La etiqueta html indica que se trata de un documento html-->
<html lang="es">

<!-- *La etiqueta head contendra todas las etiquetas de configuracion de nuestra pagina web-->
<head>

    <title>Barberia Alura</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "../static/style.css">

</head>

<!-- *La etiqueda Body contendra todas las etiquetas de contenido de nuestra pagina web-->
<body>
    <!-- *Utilizamos la etiqueta header para indicar que se trata del encabezado de mi pagina-->
    <header>
        <h1 class="tituloPrinc">Barberia Alura</h1>
    </header>

    <img id="banner" src="../static/img/banner.jpg">

    <!-- *Utilizamos la etiqueta div para dividir nuestra etiqueta en seccione,
        * de esta forma nuestra pagina esta mejor estructurada.-->
    <div class="principal">

        <h2 class="tituloCen">Sobre la barberia</h2>
        
        <p>Ubicado en el corazon de la ciudad, la <strong>Barberia Alura</strong> trae para el mercado lo que hay 
            demejor para su cabello y barba. Fundada en 2020, la Barberia ya es destaque en la ciudad y conquista nuesvos clientes diariamente.
        </p>

        <p id="mision"><em>Nuestra mision es: <strong>"Proporcionar autoestima y calidad de vida a nuestros clientes."</strong></p></em>

        <p>Ofrecemos profesionales experimentos que estan constantememnte observando los cambios y movimiento en el 
            mundo de la moda, para asi ofrecer a nuestros cientes las ultimas tendencias. El atendimiento posee un 
            padron de excelencia, y agilidad, garantizando calidad y satifaccion a nuestros clientes.
        </p>

    </div>

    <!-- *Comienzo de seccion Diferenciales -->
    <div class="diferenciales">
        <h3 class="tituloCen">Diferenciales</h3>
    
        <!-- *ul significa unorden list-->
        <ul>
            <!-- *li significa list item-->
            <li class="items">Atencion personalizada a los clientes</li>
            <li class="items">Espacio diferenciado</li>
            <li class="items">Localizacion</li>
            <li class="items">Profesionales calificados</li>
        </ul>

        <img src="../static/img/diferenciales.jpg" class="imgDiferenciales">

    </div>

</body>

</html>